/*!
 * === FRAMEWORK ================================
 */

.v-box
    width: 100%;
    max-width: unit($containerWidth,'px');
    padding-left: unit($containerPadding,'px');
    padding-right: unit($containerPadding,'px');
    margin: 0 auto;

    &.is-pd-0
        padding-left: 0;
        padding-right: 0;
        max-width: unit($containerWidth - ($containerPadding * 2), 'px');


/*!
 * --- GRID -------------------------------------
 */

.v-row
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-left: (-(unit($gridPadding,'px')));
    margin-right: (-(unit($gridPadding,'px')));

.v-col
    width: 100%;
    padding-left: unit($gridPadding,'px');
    padding-right: unit($gridPadding,'px');

cl($num, $columns)
    max-width: floor((100% / $columns) * $num, 2);

col($num, $columns)
    width: 100%;
    max-width: floor((100% / $columns) * $num, 2);

grid($columns, $prefix = '')
    for $col in 1 .. $columns
        .v-col-{$col}{$prefix}
            max-width: floor( (100% / $columns) * $col, 6 );

grid($gridColumns);

for one, key in $points
    @media one
        grid( $gridColumns, $pointsPrefix[key] );


/*!
 * --- HELPER CLASSES ---------------------------
 */

$paddings = 0 5;
$fontsize = 16;
$brad = 1000 100 10;

uidisplay($prefix = '')
    // Flex
    for $one in flex inline-flex
        .v-d-{$one}{$prefix}
            display: $one;
            flex-wrap: wrap;

    .v-flex-nowrap{$prefix}
        flex-wrap: nowrap;

    .v-flex-wrap{$prefix}
        flex-wrap: wrap;

    .v-flexgrow-1{$prefix}
        flex-grow: 1;

    // Display
    for $one in block inline-block inline none
        .v-d-{$one}{$prefix}
            display: $one;

    for $one in visible hidden
        .v-d-{$one}{$prefix}
            visibility: $one;

    // Align
    for $one in left center right
        .v-ta-{$one}{$prefix}
            text-align: $one;

    for $one in flex-start flex-end center
        .v-ai-{$one}{$prefix}
            align-items: $one;

        .v-jc-{$one}{$prefix}
            justify-content: $one;

        .v-as-{$one}{$prefix}
            align-self: $one;

    for $one in space-between space-around
        .v-jc-{$one}{$prefix}
            justify-content: $one;

    // Direction
    for $one in row row-reverse column column-reverse
        .v-flexdir-{$one}{$prefix}
            flex-direction: $one;

    // Margins & Paddings
    for $one in $paddings
        .v-pt-{$one}{$prefix}
            padding-top: unit($one, 'px');

        .v-pb-{$one}{$prefix}
            padding-bottom: unit($one, 'px');

        .v-pr-{$one}{$prefix}
            padding-right: unit($one, 'px');

        .v-pl-{$one}{$prefix}
            padding-left: unit($one, 'px');

        .v-mt-{$one}{$prefix}
            margin-top: unit($one, 'px');

        .v-mb-{$one}{$prefix}
            margin-bottom: unit($one, 'px');

        .v-ml-{$one}{$prefix}
            margin-left: unit($one, 'px');

        .v-mr-{$one}{$prefix}
            margin-right: unit($one, 'px');

    // Margin
    .v-mx-auto{$prefix}
        margin-left: auto;
        margin-right: auto;

    .v-mx-auto-left{$prefix}
        margin-left: auto;
        margin-right: initial;

    .v-mx-auto-right{$prefix}
        margin-left: initial;
        margin-right: left;

    .v-mx-none{$prefix}
        margin-left: initial;
        margin-right: initial;

    .v-mx-0{$prefix}
        margin-left: 0;
        margin-right: 0;

    // Padding
    .v-px-0{$prefix}
        padding-left: 0;
        padding-right: 0;

    // Width
    .v-w-100{$prefix}
        width: 100%;

    .v-w-auto{$prefix}
        width: auto;
        max-width: none;

    // Height
    .v-h-100{$prefix}
        height: 100%;

    .v-h-auto{$prefix}
        height: auto;

    // White Space
    .v-ws-nowrap{$prefix}
        white-space: nowrap;

    .v-ws-wrap{$prefix}
        white-space: normal;

    // Font Size
    for $one in $fontsize
        .v-fz-{$one}{$prefix}
            font-size: unit($one,'px');

    // Position
    for $one in relative absolute fixed initial
        .v-pos-{$one}{$prefix}
            position: $one;

    // z-index
    for $one in 0 5 10 15 20
        .v-zi-{$one}{$prefix}
            z-index: $one;

    // border-radius
    for $one in $brad
        .v-brad-{$one}{$prefix}
            border-radius: unit($one,'px');

uidisplay();

for one, key in $points
    @media one
        uidisplay($pointsPrefix[key]);
