/*!
* UI
* ===============================================
*/
.is-process
    position: relative;

    &:before
        pseudo();
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#fff, 0.5);
        z-index: 10;

    &:after
        pseudo();
        width: 40px;
        height: 40px;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        border-width: 5px;
        border-color: #111827 #E5E7EB;
        border-style: solid;
        animation: process-rotate 1s ease-in-out infinite forwards;
        z-index: 15;

@keyframes process-rotate
    from
        transform: rotate(0);

    to
        transform: rotate(360deg);

@import 'framework';

/*!
* --- ELEMENTS BASIC ----------------------------
*/

.ui-icon
    size(16px, 16px);
    flex: none;
    bg(center, contain);

    .ico
        size(100%, 100%);

.ui-pic-bg
    position: absolute;
    size(100%, 100%);
    top: 0;
    left: 0;

    img
        size(100%, 100%);
        object-fit: cover;

.ui-pic-cover
    img
        size(100%, 100%);
        object-fit: cover;

.ui-pic-contain
    img
        size(100%, 100%);
        object-fit: contain;

.ui-media-ratio-1, .ui-media-ratio-43, .ui-media-ratio-53, .ui-media-ratio-169
    overflow: hidden;
    position: relative;
    width: 100%;

    img, iframe
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

.ui-media-ratio
    &-1
        padding-top: 100%;

    &-169
        padding-top: round((9 / 16) * 100%, 2);

    &-43
        padding-top: round((3 / 4) * 100%, 2);

    &-53
        padding-top: round((3 / 5) * 100%, 2);

.ui-tab
    display: none;
    opacity: 0;

    &.is-active
        display: block;
        animation: tab-show 1s linear 0.01s 1 forwards;

@keyframes tab-show
    from
        opacity: 0;

    to
        opacity: 1;

.ui-ul-clear
    padding: 0;
    margin: 0;
    list-style-type: none;

.ui-status-success
    color: $colorSuccess;

.ui-status-error
    color: $colorError;

/*!
* --- FORM --------------------------------------
*/
.ui-form
    .ui-form-result
        display: none;

    &.is-success .ui-form-result.is-success
        display: block;

    &.is-error .ui-form-result.is-error
        display: block;

    .error-message
        font-size: 10px;
        color: $colorError;

.ui-fg
    position: relative;

    .error-message
        position: absolute;
        bottom: 3px;
        right: 5px;

    &.is-cbx .error-message
        bottom: auto;
        top: 100%;
        right: 0;

.ui-select
    select
        appearance: none;

        &::-ms-expand
            display: none;

.ui-input
    height: 2em;
    border: 1px solid $colorText;

.ui-cbx
    position: relative;

    input
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;

    &-wrapper
        cursor: pointer;

    &-box
        size(1em, 1em);
        border: 1px solid $colorAccent;

    input:checked ~ &-box
        background-color: $colorAccent;

    &.is-radio &-box
        border-radius: 100px;
        size(18px, 18px);

/*!
* --- ELEMENTS ----------------------------------
*/
.ui-burger
    size(32px, 24px);
    position: relative;

    &:before, &:after
        pseudo();

    &:before, &:after, span
        width: 100%;
        height: 4px;
        left: 0;
        background: red;
        border-radius: 10px;
        transit();

    &:before
        top: 0;

    &:after
        top: 100%;
        margin-top: -4px;

    span
        top: 50%;
        margin-top: 0;

    &.is-active
        span
            opacity: 0;

        &:before, &:after
            top: 50%;
            margin-top: -2px;

        &:before
            transform: rotate(45deg);

        &:after
            transform: rotate(-45deg);

.link
    transit();

    &:hover
        opacity: 0.6;

.ui-link-zoom
    cursor: zoom-in;
