body
  font-family: 'Tahoma', 'Ubuntu', sans-serif;
  font-size: 14px;


.wp-caption, img
  max-width: 50%;


blockquote
  background-color: #e5e7eb;
  padding: 0.5em 1em;


div.wp-link-input input
  font-family: monospace;
