@import '../setup/vars.styl';
@import '../setup/mixins.styl';

/*!
  ADMIN
  ===============================================
*/

input[name="post_name"]
  width: 100%

#edittag
  max-width: 100%;


/*! --- MEDIA MODAL ------------------- */
.media-modal-content
  .media-sidebar,
  .attachment-info
    .description,
    .setting[data-setting="title"],
    .setting[data-setting="caption"],
    .setting[data-setting="description"]
      display: none;


/*! --- TERM -------------------------- */
.term-php
  .cmb2-metabox
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding-top: 1em;
    margin-top: 1em;

  .cmb-row
    padding-left: 12px
    padding-right: 12px

    .cmb-th
      width: 18%

      @media all and (max-width: 520px)
        width: 95%
        padding-bottom: 0

    .cmb-td
      width: 80%;
      padding-left: 0
      padding-right: 0
      @media all and (max-width: 520px)
        width: 95%
        padding-top: 0

    &.cmb-repeat-group-wrap
      .cmb-td
        width: 100%;


/*! --- FIELDS ------------------------ */
.cmb-type-group
  .cmb-repeat-group-field
    padding-top: 0;
    margin-bottom: 5px;

  .cmb-row
    padding-bottom: 5px;

  .cmb-th
    @media phone
      width: 100%;

    &+.cmb-td
      @media phone
        width: 100%;

  .cmb-repeatable-grouping
    .cmb-remove-field-row
      padding-bottom: 0;
      padding-top: 0;
      margin-bottom: 5px;

  .cmb-repeatable-group
    .cmb-add-row
      margin-top: 10px;


.cmb2-wrap .cmb-row.cmb-repeat .cmb2-metabox-description
  padding-bottom: 0;

.cmb-repeatable-group .cmb-group-description .cmb-th
  padding-bottom: 0;

.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb-row
  padding: 0.5em 0;


/*! --- COLUMNS ----------------------- */
.column-thumbnail
  width: 50px
  @media screen and (max-width: 782px)
    display: none;

  &:before
    display: none !important;

  &-link
    display: block
    width: 100%

  &-pic
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    max-height: 50px

    .img, img
      width: 100%
      max-height: 50px
      max-width: 100%


.column-management,
.column-investments
  width: 155px


.column-pid
  width:40px


.column-order
  width: 84px
  text-align: center
  @media screen and (max-width: 782px)
    display: none;


.column-order.manage-column
  font-size: 0.9em


/*!
  --- REGENERATE THUMBNAILS -----------
*/
.tools_page_tnwpt_regenerate_thumbs
  .submit
    display: none;


/*!
  --- BACKUP DB -----------------------
*/
.backup-list
  ul
    list-style-type: disc;
    padding-left: 2em;
    margin: 1em 0;

  button
    background: none;
    border: 0;
    cursor: pointer;

    &:hover .dashicons-trash
      color: #EF4444;
