//- COLORS
$colorText = #000;
$colorAccent = red;

$colorSuccess = #15803d;
$colorError = #EF4444;


//- FONT
$font = -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif


//- GRID
$containerWidth = (1170px + 30)
$containerPadding = 15px
$gridColumns = 12
$gridPadding = 15px


//- BREAKPOINTS
note = 'all and (max-width: 1760px)'
laptop = 'all and (max-width: 1439px)'
tablet = 'all and (max-width: 1199px)'
pad = 'all and (max-width: 1023px)'
phone = 'all and (max-width: 767px)'

$points = note laptop tablet pad phone
$pointsPrefix = '-nt' '-lp' '-tb' '-pd' '-ph'


/*!
  BREAKPOINTS
  iPad Pro - 1366, 1024
  macbook old = 1280
  iPad - 1024, 768
  iPhone - 414, 375, 320

  note = 'all and (max-width: 1760px)'
  laptop = 'all and (max-width: 1439px)'
  tablet = 'all and (max-width: 1199px)'
  pad = 'all and (max-width: 1023px)'
  phone = 'all and (max-width: 767px)'
*/


/*!
 --- FONTS --------------------------------------
*/
